@import "vars.css";

	body{
		background-color: var(--thema);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
		.espaso{
		    width: 92vw;
		    height: 87vh;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-around;
		    align-items: center;
		    margin-top: 7vh;
		}
			.espaso .logo{
				width: 10vw;
			}
			.espaço form{
				display: flex
			}